/* SASS Variables */
$font-size: 15px;
$font-size-second: 13px;

$color: #333;
$color-second: #9babb4;
$color-link: #4299e1;
$color-border: #e2e8f0;
$color-input: #565867;

$bg-color: #fff;
$bg-color-input: #f4f7f9;

$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
